@page
@model EnergiesModel
@{
	ViewData["Title"] = "Energies";
}

<h1>Simulations</h1>

<div>
	<h4>Simulation</h4>
	
	@foreach(var item in Model.Energies)
	{
		<div>
			<h4>@item.Tipus</h4>
			<p>@item.PreuKWh</p>
			<p>@item.DataHora</p>
			<p>@item.EnergiaGenerada</p>
		</div>
	})